<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/profiles-nav.ejs') %>

<main>
    <h1><%= user.profile.name + "'s Polls!"%></h1>
    <% if (!user.profile.polls) {%>
        <h2>You haven't made any polls yet!</br>Click the "Create Poll" link on the left to create one!</h2>
    <% } %>
    <% if (user?.profile.avatar) { %>
        <a href="/profiles/<%= user?.profile._id %>">
            <div>
                <img
                src="<%= user.profile.avatar %>"
                alt="<%= user.profile.name %> avatar"
                />
            </div>
        </a>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %>
