<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? "hello, " + user.profile.name : "" %> Welcome to Poll-O-Rama!</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <h2>Poll-O-Rama is a diverse poll taking and creating website for users made by users!</h2>
  <h3>In order to use the app, please login.</h3>
</main>

<%- include('./partials/footer') %>
