<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/polls-nav.ejs') %>

<main>
    <h1>This is the Poll/index view</h1>
</main>
<ul>
    <% polls.forEach((poll) => { %>
        <div class="poll-on-index-page">
            <li>question <%= poll.question %></li>
            <li>answer1 <%= poll.answer1 %></li>
            <li>answer2 <%= poll.answer2 %></li>
            <li>answer3 <%= poll.answer3 %></li>
            <li>answer4 <%= poll.answer4 %></li>
        </div>
        <% }) %>
    </ul>
    
    <a href="/polls/new" class="create-poll-link">Create Poll
    </a>
    
    <%- include('../partials/footer.ejs') %>
    
    <!-- <ul>
        <li><input type="radio" name="answer" id="answer1" value="1"><label for="answer1" id="label1"></label></li>
        <li><input type="radio" name="answer" id="answer2" value="2"><label for="answer2" id="label2"></label></li>
        <li><input type="radio" name="answer" id="answer3" value="3"><label for="answer3" id="label3"></label></li>
        <li><input type="radio" name="answer" id="answer4" value="4"><label for="answer4" id="label4"></label></li>
    </ul> -->