<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/polls-nav.ejs') %>

<main>
    <h1>Poll Page </h1>
    <% if (user?.profile.avatar) { %>
        <a href="/profiles/<%= user?.profile._id %>">
            <div>
                <img
                src="<%= user.profile.avatar %>"
                alt="<%= user.profile.name %> avatar"
                />
            </div>
        </a>
    <% } %>
</main>
<div class="poll-on-index-page">
    <% polls.forEach((poll) => { %>
        <% if (!poll.answeredBy.includes(user.profile._id)) {%>
            <div class="poll-on-index-page-content">
                <% if (poll.owner._id.equals(user.profile._id)) { %>
                    <form id="delete-form-<%= poll.id %>" action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
                        <button id="delete-button-<%= poll.id %>" type="submit">Delete Poll</button>
                    </form>
                <% } %>
                <p class="poll-question-content">
                    <span>Question: </span>
                    <%= poll.question %>
                </p>
                <form id="index-polls-form" action="/polls/<%= poll.id %>" method="POST">
                    <input class="radio" type="radio" id="answer1-input-<%= poll.id %>" name="responseNumber" value="1">
                    <label class="answer1" for="answer1-input-<%= poll.id %>">
                        <p class="answer1">
                            <span>answer1: </span>
                            <%= poll.answer1 %>
                        </p>
                    </label>
                    <input class="radio" type="radio" id="answer2-input-<%= poll.id %>" name="responseNumber" value="2">
                    <label class="answer2" for="answer2-input-<%= poll.id %>">
                        <p class="answer2">
                            <span>answer2: </span>
                            <%= poll.answer2 %>
                        </p>
                    </label>
                    <input class="radio" type="radio" id="answer3-input-<%= poll.id %>" name="responseNumber" value="3">
                    <label class="answer3" for="answer3-input-<%= poll.id %>">
                        <p class="answer3">
                            <span>answer3: </span>
                            <%= poll.answer3 %>
                        </p>
                    </label>
                    <input class="radio" type="radio" id="answer4-input-<%= poll.id %>" name="responseNumber" value="4">
                    <label class="answer4" for="answer4-input-<%= poll.id %>">
                        <p class="answer4">
                            <span>answer4: </span>
                            <%= poll.answer4 %>
                        </p>
                    </label>
                    <div id="submit-poll-button-div">
                        <button id="submit-poll-answer" type="submit">Submit Answer</button>
                    </div>
                    <p class="created-by-p-tag">Created By: <%= poll.owner.name %></p>
                </form>
            </div>
        <% } else { %>
            <div class="poll-on-index-page-content-answered">
                <% if (poll.owner.name === user.profile.name) { %>
                    <form id="delete-form-<%= poll.id %>" action="/polls/<%= poll.id %>?_method=DELETE" method="POST">
                        <button id="delete-button-<%= poll.id %>" type="submit">Delete Poll</button>
                    </form>
                <% } %>
                <p class="poll-question-content">
                    <span> Question: </span>
                    <%= poll.question %>
                </p>
                <label class="answer1" for="answer1-input-<%= poll.id %>">
                    <p class="answer1">
                        <span>answer1: </span>
                        <%= poll.answer1 %>
                    </p>
                </label>
                <label class="answer2" for="answer2-input-<%= poll.id %>">
                    <p class="answer2">
                        <span>answer2: </span>
                        <%= poll.answer2 %>
                    </p>
                </label>
                <label class="answer3" for="answer3-input-<%= poll.id %>">
                    <p class="answer3">
                        <span>answer3: </span>
                        <%= poll.answer3 %>
                    </p>
                </label>
                <label class="answer4" for="answer4-input-<%= poll.id %>">
                    <p class="answer4">
                        <span>answer4: </span>
                        <%= poll.answer4 %>
                    </p>
                </label>
                <div class="num-people-answered">
                    <p>
                        <span>Number of people who answered: </span><%= poll.responses.length %>
                    </p>
                </div>
                <p class="created-by-p-tag">Created By: <%= poll.owner.name %></p>
            </div>
        <% } %>
    <% }) %>
</div>

<a href="/polls/new" class="create-poll-link">Create Poll
</a>

<%- include('../partials/footer.ejs') %>